body {
    background-image: url("../images/extra_clean_paper.png");
}

header {
	background-color: #ffffff;
	color:white;
	width: 960px;
	height: 80px;
	border-color: #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-bottom: 10px;
}


.links {
	overflow: auto;
}

.headerbox{
	width: 220px;
	height: 65px;
	font-size: 32px;
	font-weight: 700;
	font-family: 'Georgia', Times, Times New Roman, serif; 
	background-color: #4aaaa5;
	padding-top: 15px;
	text-align: center;
	margin-left: 80px;
	float: left;
}

.lineup{
	padding-top: 25px;
	margin-left: 80px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: silver;
	text-decoration: none; 
	float: right;
}

.lineup:default {
	color: silver;
}

.lineup:visited {
	color: silver;
}

.aboutMe{
	clear: both;
	width: 400px;
    padding-top: 34px;
    padding-right: 28px;
    padding-bottom: 34px;
    padding-left: 28px;
	background-color: #ffffff;
	margin-top: 100px;
	margin-left: 138px;
	margin-bottom: 300px;
	float: left;
}

p {
	background-color: #ffffff;
	color: #777777;
	border-color: #dddddd;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.textwrap {
	height: 200px;
	margin: 10px;
	float: left;
}

aside {
	background-color: white;
	width: 212px;
	height: 175px;
	float: left;
	margin-top: 100px;
	margin-left: 36px;
}

.container {
	overflow: auto;
	background-color: white;
}

.icons {
	margin-left: 5px;
	height: 55px;
	width: 55px;
	margin-bottom: 10px;
	float: left;
}

h2 {
    background-color: white;
    color: #4aaaa5;
}

h3 {
    background-color: white;
    color: #4aaaa5;
    padding-top: 25px;
    margin-left: 25px;
}

h4 {
	color: #c7cdb2;
	padding-top: 15px;
}

h5 {
    clear: both;
	position: absolute;
	top: 110px;
	left: 0px;
	background-color: #4aaaa5;
    color: white;
    font-size: 18px;
    text-align: center;
}

.footerbox {
	background-color: #4aaaa5;
	height: 9px;
	width: 960px;
	position: fixed;
	left: 0px;
	bottom: 80px;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: #666666;
	text-align: center;
	width: 960px;
	height: 80px;
	/*background-image:linear-gradient(to bottom, #666666 0%, #4aaaa5 100%);*/
}

input[type=text] {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: silver;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.project {
	float: left;
	margin: 16px 16px 16px 16px;
	position: relative;
	width: 40%;
}

.projectbg{
	width: 175px;
	padding-right: 20px;
}


/* Tablet Screen Size Begin */

@media screen and (max-width: 768px) {  

.links {
	width: 100%;
	float: left;
}

.headerbox {
	position: static;
    width: 100%;
    height: 40%;
    font-size: 12px;
	font-weight: 700;
	padding-top: 3px;
	margin-left: 0px;

  }

.lineup {
	width: 33%;
	padding-top: 5px;
	margin-left: 0px;
}

.aboutMe{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
	margin-top: 120px;
	margin-bottom: 10px;
}

.textwrap{
	clear: both;
	padding: 0px 0px 0px 0px;
	padding-right: 40%;
	padding-left: 40%;
}

aside {
	background-color: white;
	width: 100%;
	height: 175px;
	float: left;
	margin-top: 20px;
		margin-left: 0px;
		
}

.container {
	overflow: auto;
	background-color: white;
	height: 100px;
	margin-bottom: 70px;
}

.icons {
	margin-left: 20px;
	height: 55px;
	width: 55px;
	float: left;
}

hr {
	background-color: white;
}

.footerbox {
	height: 3px;
	width: 100%;
	bottom: 50px;
	margin-top: 25px;
}

footer {
	width: 100%;
	height: 50px;
	font-size: 12px;
}

}

/* Tablet Screen Size End */

@media handheld, screen and (max-width: 640px) {

  /* xs Page Begin */

.links {
	width: 100%;
	float: left;
}

.headerbox {
	position: relative;
    width: 100%;
    height: 40%;
    font-size: 12px;
	font-weight: 700;
	padding-top: 3px;
	margin-left: 0px;

  }

.lineup {
	width: 33%;
	padding-top: 5px;
	margin-left: 0px;
}

.aboutMe{
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
	margin-top: 120px;
	margin-bottom: 10px;
	overflow: none;
}

.textwrap{
	clear: both;
	padding: 0px 0px 0px 0px;
	padding-right: 40%;
	padding-left: 40%;
	overflow: none;
}

aside {
	background-color: white;
	width: 100%;
	height: 175px;
	float: left;
	margin-top: 20px;
		margin-left: 0px;
		
}

.container {
	overflow: auto;
	background-color: white;
	height: 100px;
	margin-bottom: 70px;
}

.icons {
	margin-left: 20px;
	height: 55px;
	width: 55px;
	float: left;
}

hr {
	background-color: white;
}

.footerbox {
	height: 3px;
	width: 100%;
	bottom: 50px;
	margin-top: 25px;
}

footer {
	width: 100%;
	height: 50px;
	font-size: 12px;
}

  /* xs Page End */
}



